$body-bg: #eee;
$link-color: #eee;
$link-hover-color: #18bc9c;

@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/*
 * Values from bootstrap: http://getbootstrap.com/customize/#less-variables
 */
@mixin responsive($base-size) {
    body { font-size: $base-size; }
    h1 { font-size: floor($base-size * 2.6); }
    h2 { font-size: floor($base-size * 2.15); }
    h3 { font-size: ceil($font-size-base * 1.7); }
    h4 { font-size: ceil($font-size-base * 1.25); }
    h5 { font-size: $font-size-base; }
    h6 { font-size: ceil($font-size-base * 0.85); }
}

@media (max-width: $screen-xs-max) {
    @include responsive(14px);
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include responsive(28px);
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    @include responsive(38px);
}

@media (min-width: $screen-lg-min) {
    @include responsive(46px);
}

header a {
    color: $brand-primary;
}

.line-Green {
    background-color: hsl(157, 100%, 25%) !important;
}

.line-Blue {
    background-color: hsl(217, 56%, 42%) !important;
}

.line-Orange {
    background-color: hsl(32, 98%, 50%) !important;
}

.line-Red {
    background-color: hsl(2, 95%, 57%) !important;
}
