$body-bg: #eee;
$link-color: #eee;
$link-hover-color: #18bc9c;
$link-hover-decoration: none;
$grid-gutter-width: 40px;

/* Train colors */
$green: hsl(157, 100%, 25%);
$blue: hsl(217, 56%, 42%);
$orange: hsl(32, 98%, 50%);
$red: hsl(2, 95%, 57%);

@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@mixin responsive($base-size) {
    $line-height-computed: floor($base-size * $line-height-base);

    body { font-size: $base-size; }
    h1, .h1 { font-size: floor($base-size * 2.6); }
    h2, .h2 { font-size: floor($base-size * 2.15); }
    h3, .h3 { font-size: ceil($base-size * 1.7); }
    h4, .h4 { font-size: ceil($base-size * 1.25); }
    h5, .h5 { font-size: $base-size; }
    h6, .h6 { font-size: ceil($base-size * 0.85); }

    $line-height-computed: floor($base-size * $line-height-base);

    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6 {
        margin-top: $line-height-computed / 4;
        margin-bottom: $line-height-computed / 4;
    }

    header {
        margin-top: $line-height-computed / 2;
        margin-bottom: $line-height-computed / 2;
    }
}

@media (max-width: $screen-xs-max) {
    @include responsive(15px);
    .line-title {
        text-align: center;
    }
    .line-info p {
        font-size: 120%;
    }
    .status {
        text-align: right;
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include responsive(28px);
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    @include responsive(37px);
}

@media (min-width: $screen-lg-min) {
    @include responsive(45px);
}

header {
    text-align: center;
}

header a, footer a {
    color: $brand-primary;
}

.line-directions {
    text-align: center;
    color: #eee;
}

.line-Green, .line-green {
    background-color: $green !important;
}

.line-Blue, .line-blue {
    background-color: $blue !important;
}

.line-Orange, .line-orange {
    background-color: $orange !important;
}

.line-Red, .line-red {
    background-color: $red !important;
}
