.btn-Green {
    background-color: hsl(157, 100%, 25%) !important;
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
}

.btn-Blue {
    background-color: hsl(217, 56%, 42%) !important;
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
}

.btn-Silver {
    background-color: hsl(200, 2%, 61%) !important;
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
 }


.btn-Red {
    background-color: hsl(2, 95%, 57%) !important;
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
 }

.btn-Orange {
    background-color: hsl(32, 98%, 50%) !important;
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
 }
