a { text-decoration:none; }

#app
{
    background: #fff;
}

#header
{
    background: #ccc;
    padding: 20px;
}

#header h2 { margin: 0; }

#footer
{
    background: #ccc;
    text-align: right;
    padding: 20px;
    height: 1%;
}

#row {
      display:block;
      width:100%;
      height:22vh !important;
      overflow:hidden;
}

#lines {
    height: 100%;
    left: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
}

.status {
    height: 100%;
    display: inline-block;
    width: 30%;
    color: #fff;
    background-color: #000;
}

.line {
    display: inline-block;
    height: 100%;
    width: 70%;
    color: #fff;
}

.line-Green {
    background-color: hsl(157, 100%, 25%) !important;
}

.line-Blue {
    background-color: hsl(217, 56%, 42%) !important;
}

.line-Orange {
    background-color: hsl(32, 98%, 50%) !important;
}

.line-Red {
    background-color: hsl(2, 95%, 57%) !important;
}
